<div class="mt-3">
    <div class="row">
        <div class=" col-6 ">
            <img class="logo" src="../../assets/logo.png">
        </div>
        <div class="col-6 toolbar ">
            <span class="span-class">Products</span>
            <span class="span-class">Solutions</span>
            <span class="span-class">Pricing</span>
            <button class="button span-class">Login</button>
            <button class="button-started span-class">Get Started</button>
        </div>
    </div>

</div>
<div class="row">
    <div class="blob">
        <img src="../../assets/wemake.svg" class="text">
        <div class="line"></div>
        <img class="hand-shake" src="../../assets/collect_img-video.png">
        <img class="acc-dots" src="../../assets/accounting_dots.svg">
    </div>
    <div class="calculator"></div>
    <img class="acc-dots-calc" src="../../assets/accounting_dots.svg">
</div>